@media screen and (min-width:340px) and (max-width:5000px) {
    body {
        height: unset;
        padding: 30px 0;
    }

    .header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn {
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .conteiner {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .conteiner .card {
        margin: 20px;
    }

    .card image {
        width: auto;
        align-items: center;     
        height: auto;
    }

}
